<a href="https://colab.research.google.com/github/GianRomani/Neural_search_engine/blob/main/DM_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
try: 
  #this will raise an error if you are not using Colab
  from google.colab import drive
  drive.mount('/content/drive')
except:
  print("You are not using Colab")

Mounted at /content/drive

In [2]:
path = "/content/drive/MyDrive/Data Mining/Project/archive.zip"

In [3]:
#!unzip "/content/drive/MyDrive/Data Mining/Project/archive.zip" -d "/content/drive/MyDrive/Data Mining/Project/"

# EDA

In [4]:
import pandas as pd

It can be interesting and helpful to analyze:

*   the distribution of the scores among the questions,
*   number of answers for question (and scores of those answers);
*   creation dates for the posts;
*   if a post was closed (and why);
*   popular users (who answered a lot of questions)

<h2>Questions</h2>

*   Id: id of the question;
*   OwnerUserId: id of the account who post the question;
*   CreationDate: when the question was posted;
*   ClosedDate: when the question was closed;
*   Score: upvotes - downvotes;
*   Title: title of the question;
*   Body: the question

In [5]:
questions = pd.read_csv("/content/drive/MyDrive/Data Mining/Project/Questions.csv",encoding="ISO-8859-1") #utf-8 is not good in this case

In [6]:
questions.head(10)

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...
5  330  ...  <p>I am working on a collection of classes use...
6  470  ...  <p>I've been writing a few web services for a ...
7  580  ...  <p>I wonder how you guys manage deployment of ...
8  650  ...  <p>I would like the version property of my app...
9  810  ...  <p>I'm trying to maintain a Setup Project in <...

[10 rows x 7 columns]

In [7]:
questions.describe()

                 Id   OwnerUserId         Score
count  1.264216e+06  1.249762e+06  1.264216e+06
mean   2.132745e+07  2.155177e+06  1.781537e+00
std    1.151445e+07  1.801265e+06  1.366389e+01
min    8.000000e+01  1.000000e+00 -7.300000e+01
25%    1.142598e+07  6.589110e+05  0.000000e+00
50%    2.172542e+07  1.611830e+06  0.000000e+00
75%    3.154542e+07  3.353792e+06  1.000000e+00
max    4.014338e+07  7.046594e+06  5.190000e+03

In [8]:
#What is the distribution of the scores among the questions?
score_distribution = questions["Score"].value_counts(bins=20)
score_distribution

(-78.26400000000001, 190.15]    1263601
(190.15, 453.3]                     478
(453.3, 716.45]                      78
(716.45, 979.6]                      30
(979.6, 1242.75]                     11
(1505.9, 1769.05]                     9
(1242.75, 1505.9]                     4
(2295.35, 2558.5]                     3
(3611.1, 3874.25]                     1
(4926.85, 5190.0]                     1
(2821.65, 3084.8]                     0
(2558.5, 2821.65]                     0
(4663.7, 4926.85]                     0
(2032.2, 2295.35]                     0
(1769.05, 2032.2]                     0
(3084.8, 3347.95]                     0
(3347.95, 3611.1]                     0
(3874.25, 4137.4]                     0
(4137.4, 4400.55]                     0
(4400.55, 4663.7]                     0
Name: Score, dtype: int64

In [11]:
#negative scores
negative_scores_questions = questions[questions["Score"] < 0]
negative_scores_questions

               Id  ...                                               Body
487         43960  ...  <p>Does anyone have any experience with any CO...
890         73260  ...  <p>I've come across a few different applicatio...
904         74570  ...  <p>I'm maintaining <a href="http://perl-begin....
949         79350  ...  <p>I am looking to have 4 Virtual servers(vari...
1017        85370  ...  <p>My strongest lead is that the code who deal...
...           ...  ...                                                ...
1264187  40142600  ...  <pre><code>def compress(s):\n    âââ(str...
1264188  40142610  ...  <p>So I can pull the url for a track from the ...
1264193  40142780  ...  <p>I am solving the following problem in C : \...
1264194  40142790  ...  <p>Sorry in advance for the weird format of th...
1264203  40142940  ...  <p>I am learning c++ and I'm trying draw an is...

[78449 rows x 7 columns]

In [12]:
#Posts with a score greater than 4000
best_posts = questions[questions["Score"] >4000]
best_posts

          Id  ...                                               Body
4907  348170  ...  <p>I mistakenly added files using the command:...

[1 rows x 7 columns]

In [13]:
#Count NaN values -> most of them in ClosedDate
questions.isna().sum()

Id                    0
OwnerUserId       14454
CreationDate          0
ClosedDate      1208257
Score                 0
Title                 0
Body                  0
dtype: int64

<h2>Answers</h2>



*   Id: id of the answer;
*   OwnerUserId: id of the account who post the answer;
*   CreationDate: when the answer was posted;
*   ParentId: Id of the question;
*   Score: upvotes - downvotes;
*   Body: the answer

In [14]:
answers = pd.read_csv("/content/drive/MyDrive/Data Mining/Project/Answers.csv",encoding="ISO-8859-1") #utf-8 is not good in this case

In [15]:
answers.head(10)

    Id  OwnerUserId  ... Score                                               Body
0   92         61.0  ...    13  <p><a href="http://svnbook.red-bean.com/">Vers...
1  124         26.0  ...    12  <p>I wound up using this. It is a kind of a ha...
2  199         50.0  ...     1  <p>I've read somewhere the human eye can't dis...
3  269         91.0  ...     4  <p>Yes, I thought about that, but I soon figur...
4  307         49.0  ...    28  <p><a href="http://www.codeproject.com/Article...
5  332         59.0  ...    19  <p>I would be a bit reluctant to use nested cl...
6  344        100.0  ...     6  <p>You might be able to use IronRuby for that....
7  359        119.0  ...     5  <P>You could use any of the DLR languages, whi...
8  473         49.0  ...     8  <p>No, what you're doing is fine. Don't let th...
9  529         86.0  ...     3  <p>Isn't it also a factor which order you set ...

[10 rows x 6 columns]

In [16]:
answers.describe()

                 Id   OwnerUserId      ParentId         Score
count  2.014516e+06  2.001316e+06  2.014516e+06  2.014516e+06
mean   1.915490e+07  1.487613e+06  1.808390e+07  2.480563e+00
std    1.168713e+07  1.549051e+06  1.169152e+07  1.590938e+01
min    9.200000e+01  1.000000e+00  8.000000e+01 -4.200000e+01
25%    8.854490e+06  2.818680e+05  7.692900e+06  0.000000e+00
50%    1.866246e+07  9.546430e+05  1.712404e+07  1.000000e+00
75%    2.929756e+07  2.197072e+06  2.804977e+07  2.000000e+00
max    4.014339e+07  7.045028e+06  4.014319e+07  5.718000e+03

In [17]:
#Distribution for the scores of the answers
score_distribution = answers["Score"].value_counts(bins=20)
score_distribution

(-47.760999999999996, 246.0]    2013578
(246.0, 534.0]                      708
(534.0, 822.0]                      150
(822.0, 1110.0]                      34
(1398.0, 1686.0]                     17
(1110.0, 1398.0]                      8
(1686.0, 1974.0]                      6
(2262.0, 2550.0]                      4
(2838.0, 3126.0]                      4
(1974.0, 2262.0]                      3
(3414.0, 3702.0]                      2
(5430.0, 5718.0]                      1
(2550.0, 2838.0]                      1
(5142.0, 5430.0]                      0
(3126.0, 3414.0]                      0
(3702.0, 3990.0]                      0
(3990.0, 4278.0]                      0
(4278.0, 4566.0]                      0
(4566.0, 4854.0]                      0
(4854.0, 5142.0]                      0
Name: Score, dtype: int64

In [27]:
#negative scores
negative_scores_answers = answers[answers["Score"] < 0]
negative_scores_answers

               Id  ...                                               Body
259          7896  ...  <p>fstream are great but I will go a little de...
284          8421  ...  <p>Aha, I was really just testing everyone onc...
386         10687  ...  <p>e-texteditor hilights what you're searching...
483         12098  ...  <p>I'm not a lawyer but all licenses mentioned...
498         12885  ...  <p>There is no pretty solution.  Java just doe...
...           ...  ...                                                ...
2014340  40139542  ...  <pre><code>CHUNKSIZE=1024 # read 1024 bytes at...
2014343  40139568  ...  <p>depending on how your particular data is br...
2014347  40139589  ...  <p>I don't have ggplot installed, but maybe a ...
2014360  40139866  ...  <p>Try this:</p>\n\n<pre><code>#include "stdaf...
2014382  40140367  ...  <p>You could use <a href="http://docs.scipy.or...

[35046 rows x 6 columns]

In [18]:
#Number of answers for question
answers_for_post = answers.groupby(["ParentId"]).count()["Id"]
answers_for_post

ParentId
80          3
90          3
120         1
180         9
260         9
           ..
40142860    1
40142900    1
40142910    1
40142940    2
40143190    2
Name: Id, Length: 1102568, dtype: int64

In [26]:
#max number of answers for a post
answers_for_post.max()

408

In [25]:
#How many questions have a certain number of answers?
answers_for_post.value_counts()

1      606272
2      284868
3      117396
4       49255
5       21767
6       10005
7        5132
8        2760
9        1553
10        954
11        702
12        508
13        311
14        237
15        187
16        125
17        100
18         86
19         54
20         42
21         31
22         31
23         29
24         22
25         17
27         16
26         15
29         12
28         11
31         11
30         11
32          7
33          5
34          5
38          3
36          3
40          3
43          2
35          2
39          2
61          1
67          1
69          1
316         1
100         1
55          1
129         1
59          1
42          1
51          1
50          1
49          1
45          1
41          1
37          1
408         1
Name: Id, dtype: int64

In [20]:
#How may NaN values?
answers.isna().sum()

Id                  0
OwnerUserId     13200
CreationDate        0
ParentId            0
Score               0
Body                0
dtype: int64

In [ ]:
#How many users answered questions?

<h2>Tags</h2>